<form action="index.php?action=authzreq" method=post>
<b>This will be publicly posted on {{{noticeurl}}}</b>
<textarea cols=80 rows=8 name="authzReq_reason"></textarea>
<input type="hidden" name="token" value="{{token}}" />
<div class="" style="display: block">
	<input type="submit" />
</div>
</form>
