<form action="index.php?action=edit&stage=save" method=post>
<b>Current wikitext of: {{title}}</b>
<textarea cols=80 rows=25 name="wikitext">{{wikitext}}</textarea>
<input type="hidden" name="token" value="{{token}}" />
<input type="hidden" name="title" value="{{title}}" />
<div class="" style="display: block">
	<input type="submit" />
</div>
</form>
