<form action="index.php?action=search" method=post>
<div id="searchForm" style="display:block">
	<input type="search" name="search" placeholder="Search" title="Search" id="searchInput" tabindex="1" autocomplete="off">
	<input type="submit" name="go" value="Go" title="Search" id="searchButton" class="searchButton">
	<input type="hidden" name="token" value="{{token}}" />
</div>
</form>
